# special init handling to support dynamically loading
# all required libs for decryption

# enable qcom decrypt debug
on init
    setprop prepdecrypt.loglevel 2

#on property:ro.crypto.state=encrypted
#    setprop crypto.ready 0
#    setprop cryptprep.state running
#    start prepdecrypt_sfx

# copy qseecomd & friends from system/vendor
# (triggers crypto.ready)
service prepdecrypt_sfx /sbin/prepdecrypt_sfx.sh
    oneshot
    disabled
    user root
    seclabel u:r:recovery:s0

